<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Cafetito</title>

  
</head>

<body>

  <div class="loginbox">
    <img src="../../assets/img/unnamed.png" alt="" class="avatar">
    <h1>Login</h1>
    <br>
    <form action="">


      <p>Usuario</p>
      <div class="inputbox">
        <input type="text" id="inputUsername" class="form-control mt-2"
        placeholder="Nombre de usuario" required [(ngModel)]="username"
        [ngModelOptions]="{standalone: true}">
       <!-- <ion-icon name="mail-outline"></ion-icon>-->
      </div>


      <p>Contraseña</p>
      <div class="inputboxD">
        <input type="password" id="inputPassword" class="form-control mt-2" placeholder="Contraseña"
        required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
       <!-- <ion-icon name="lock-closed-outline"></ion-icon>-->
      </div>
      <!-- <input type="submit" value="Login">-->

      <button class="btn btn-lg btn-dark btn-block mt-2" type="submit"
                                (click)="login()">Iniciar
                                sesión</button>

      <a href="#">Cafetito tu mejor opción!</a><br>
      <!-- <a href="#">Don't have an account?</a>-->
    </form>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>